@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-rendering: optimizeLegibility;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: "Inter";
    outline: none;
    
}
body {
  background: #f9f7f7;
}
header {
    width: 100%;
    background: #0b0b0b;
    display: flex;
    align-items: center;
    padding-left:4%;
    padding-right: 4%;
    height: 60px;
   

 
}
.menumobile {
    width: 18px;
    height: 18px;
    cursor: pointer;
    position: absolute;
}
.logo {
    border-right: 1px #222 solid;
    height: 36px;
    fill:white;
    cursor: pointer;
    margin-right: auto;
    display: inline; 
}


.header_menu{
   
    align-content: center;
    margin-right: 20px;
    margin-bottom: 5px;
    margin-left: 3vw;
}


nav,
ul,
li,
a {
    font-family: "Inter";
    font-weight: 500;
    font-size: 13px;
    color: white;
    background: inherit;
    display: flex;
    text-decoration: none;
}
.search-div {
    padding: 0 15px 0px 15px;
    width: 583px;
    height: 40px;
    display: inline-flex;
    border: 2px #222 solid;
   border-radius: 4px;

}


.search-div:focus-within{

border-bottom: 2px #112d4e solid;
}

.search-input {
    font-size: 13px;
    color: white;
    width: 100%;
    border: none;
    background: inherit;
}
.bsearch {
   
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background: no-repeat;
    padding: 10px;
}
.svgsearch {
    width: 18px;
    height: 18px;
    fill: white;
    align-items: center;
}
.nav-items {
    margin-right: 1vw;
    margin-left: 1vw;
}
.nav-items li {
    padding: 15px;
    align-items: center;
}
.nav-items a {
    padding-left: 0px;
    margin-right: 0px;
    display: flex;
    transition: all 0.3s ease 0s;
}
.nav-items a:hover {
    color: #0082FF;
}
.nav-items span {
    position: absolute;
}
.div-down-arrow {
    fill: white;
    width: 40px;
}
.div-down-arrow:hover {
    transform: scaleY(-1);
    fill: #0082FF;
}
#svg-down-arrow {
    margin-left: 43px;
}
.langue {
    margin-right: 50px;
}


.country-icon {
margin-right: 10px;
 width: 25px;
}


.carshop {
    margin-right: 2vw;
}
.counter-carshop-item {
    width: 22px;
    font-size: 10px;
    font-weight: 800;
    margin-left: 10px;
    position: absolute;
    margin-bottom: 13px;
    font-family: "Inter";
    color: #ff8200;
    text-align: center;
}
.button-login {
    width: 100px;
    height: 40px;
    padding: 9px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    background: #112d4e;
    color: white;
    font-size: 13px;  
    font-weight: bold; 
}
.submenu {
    padding: 0px 1.3%;
    width: 100%;
    height: 30px;
    background: #141414;
    display: flex;
    align-items: center;  
     
}



.submenu li {
    align-items: center;
    height: 30px;
    margin-left: 30px;
    width: 40px;
    font-size: 13px;
   
    transition-duration: 0.5s;
    
    
}
.submenu a:hover{
 
    color: #0082FF;
    
}




.submenu_top_svg{
  
    margin-top: 3px;
    position:absolute;
}





.span-dot-burn { 
    margin: -1px;
    fill: #1db6ef;
    animation: dot 0.9s alternate-reverse infinite;
    box-shadow: 0px 0px 4px 0px #1db6ef;
    border-radius: 10px;
}
@keyframes dot {
    0% {
        box-shadow: 0px 0px 10px 0px #1db6ef;
    }
  
}


.span-dot-user {
    margin-left: 20px;
    
    transform: translateY(-10px);
}



.background-svg{
    width: 100%;
position: absolute;
z-index: -1;
}
#div1 {
    
    width: 100%;
    height: 680px;   
    text-align: left;
    font-family: "Inter";
    background: #112d4e;
    color: white;
    
    display: flex;
}


.submenu-2-top{
    width: 40px;
    border-right: 2px #222 solid;

}



.submenu-2{
    position: absolute;
    padding: 10px;
    display:block;
    background: #141414;
width:100px;
height:100%;
border-right: 2px #222 solid;
animation: 2s submenu-2-hidden;
transform: translateX(-50px);
}


.submenu-2 a{
    margin-bottom: 10px;

}



.primary {
    
    padding-left: 4%;
    padding-top: 7%;
    width: 60%;
}
.primary p {
    margin: 15px;
    font-size:16.45px; color: white;
}
h1 {
    font-size: 47.49px;
    margin-bottom: 5%;
    position: relative;
}
#subtitle-1 {
    margin: initial;
   color: white
}
.register {
    margin-top: 5%;
    width: 341px;
    height: 50px;
    border: 2px white solid;
    border-radius: 4px;
    color: white;
    justify-content: center;
    align-items: center;
    font-weight: 700;
  
}
.register:hover {
    box-shadow: 2px 2px 2px 0px silver;
}
.signup-arrow-svg {
    margin-left: 291px;
    transform: translateY(16px);
    position: absolute;
}
.signup-arrow-div {
    transform: translate(-125px, -15px);
    width: 303px;
    height: 48px;
    position: absolute;
}
.signup-arrow-div:hover {
    animation: arrow-anim 0.9s;
    animation-iteration-count: infinite;
}
@keyframes arrow-anim {
    0% {
        opacity: 0;
        transform: translate(-135px, -15px);
    }
}
#div-mobile-download {
    width: 100%;
    display: flex;
    align-items: center;
}
#download-here {
    font-family: inherit;
    font-size: 10.27px;
    margin: initial;
    margin-top: 20px;
    margin-bottom: 10px;
}
.mobile-download-1 {
    width: 100px;
    
    margin-right: 5px;
    background: black;
    border: 2px black solid;
    border-radius: 4px;
}
.middle {
    width: 20%;
    padding-top: 5%;
  
}






.secondary {
    
    width: 20%;
    height: 100%;
}
.appdescription {
    margin-top: 43%;
    animation: fade 0.9s;
}
.doge {
    width: 200px;
    transform: translateY(170px);
    animation: fade 0.9s;
}
@keyframes fade {
    0% {
        opacity: 0.5;
    }
}

.submenu-nav-quantity{
    border-radius: 4px;
    width: 10px;
    height: 15px;
    font-size: 10px;
    padding: 1px 0px 0px 4px;

    
}

.submenu-2-nav-div-2 {
    margin-left: 10px;
   
}


.submenu-2-nav-coin-div{
    align-items: center;
    margin-top: 4px;
    width: 40px;
    height: 40px;
    background: #2b2b2b;
    padding: 10px;
    border-radius: 40px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
   
}
.submenu-2-nav-coin-div svg{
   
    border-radius: 8px;
  
}

.submenu-2-nav-coin-div:hover{
    fill:white !important;
    border-radius: 8px; 
    background: #00FF82;
    
}






.banner-zones{
    background: #112d4e;
    height: 441px;
    display: flex;
    padding: 1.3%;
    width: 100%;
}

.banner-zones-coin{
    display:block;
    border-radius: 4px;
    width: 60px;
    height: 100%;
    background: #141414;
}




.banner-zones-poster{
    margin-left: 20px;
    width: 273px;
    height: 100%;
    background: #141414;
    border-radius: 4px;
    padding: 20px;
}



.banner-zones-poster-title{
    font-size: 13px;
    color: white;
    font-weight: bold;
   
    display: flex;
    margin-bottom: 10px;
    
}

.banner-zones-poster-row{
    width: 100%;
    padding-top: 6px;
    padding-left:8px;
    height: 25px;
    font-size: 10px;
    color: white;
    font-weight: bold;
    background: #2b2b2b;
    display: flex;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px transparent solid;
    
}

.banner-zones-poster-row:hover{
    position: static;
   
    border: 1px#112d4e solid;
    
}




.banner-zones-grid{
    margin-left: 20px;
    background: #141414;
    width: 473px;
    height: 100%;
    border-radius: 4px;
}





.filter{
    
    width: 100%;
    
    height: 40px;
        
}


.filter ul{
    margin-left: 500px;
  
}


.filter a{
    margin-left: 20px;

    height: 40px;
    color:#6e6d7a;
    font-size:16.45px;
    font-weight: 400;
    align-items: center;
}




.products-grid{
    
    padding: 5% 76px;
    display: block;
    width: 100%;
    height: 768px;
    -moz-box-sizing: border-box;
   
   

}

.products-grid-row{
    display:flex;
    margin-top: 10px;
    height:312px;
    width: inherit;
    
    justify-content: space-between;
}

.products-grid-row-item{
    box-shadow: 0 10px 40px -10px silver;
 
    background: white;
    width: 273px;
    height:inherit;
    
    border-radius: 4px; 
    

}

.products-grid-row-item-description{
    padding-left:15px;
    font-size: 11px;
   


}
.products-grid-row-item img{
    width: 273px;
    height:273px;
    border-radius: 4px;
    padding: 15px;

}









.div-category {
    margin-top: 5%;
    padding: 3% 5% 3% 13%;
    height: 38.7vh;
    background: white;
}
.div-category-2 {
    padding: 3% 5% 3% 13%;
    height: 38.7vh;
    background: white;
}
.category-title {
    color: #353534;
    font-size: 23.43px;
    font-weight: 700;
    margin-bottom: 2%;
}
.category-row {
    justify-content: start;
    display: flex;
    align-items: center;
}
.category-item-svg-div {
    background: white;
    padding: 40px;
    opacity: 0.7;
    width: 120px;
    height: 120px;
    border-radius: 8px;
    margin-right: 20px;
    box-shadow: 0px 3px 3px 1px silver;
}
.category-item-text {
    width: 200px;
    height: 120px;
    display: initial;
    font-weight: 700;
    font-size: 16.45px;
    color: #353534;
}
.category-italic {
    font-size: 14.63px;
    font-style: italic;
    color: #332927;
    opacity: 0.5;
    margin-right: 8px;
}
.category-hash {
    margin-top: 6px;
    text-align: start;
}
.banner-div {
    color: #24252a;
    font-family: "Inter";
    font-weight: 500;
    height: 50.9vh;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    display: flex;
    -webkit-box-pack: justify;
    padding: 0px 2% 0px 2%;
    margin: 5% 0% 2% 0%;
}
.banner-item {
    width: 303px;
    height: 384px;
}
.banner-item img {
    border-radius: 8px;
  
    width: 303px;
    height: 384px;
}


.banner-item-shipping img{
    border: 1px silver solid;
    width: 303px;
    height: 384px;
    border-radius: 8px;

}
h2 {
    background: red;
}






.banner-tech-black img{
    width: 100%;
    height: 384px;  
}

.banner-tech-black-2{
    width: 100%;
    height: 384px;
    font-family: "Inter";
    text-align: center;
    background: white;
    padding: 5%;
}



.banner-tech-black-2--tab{
    color:white;
    text-align: left;
    width: 300px;
    height: 384px;
    font-size: 50px;


}








.div-row-title {
    align-items: center;
    display: flex;
    padding: 0 5% 0 5%;
    color: #353534;
    opacity: 0;
}
.p-row-title {
    font-size: 20px;
    text-align: left;
}
.span-view-all {
    margin-left: auto;
    font-size: 15px;
}
.span-view-all a {
    color: #0082FF;
}
.row-1 {
    font-family: "Inter";
    font-weight: 500;
    height: 58.1vh;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    display: flex;
    -webkit-box-pack: justify;
    padding: 0px 5% 0px 5%;
    background: white;
}
.column-1 {
    width: 303px;
    height: 320px;
    border-radius: 10px;
}
.column-1 a {
    color: #24252a;
}
.img-300x320-div {
    padding: 10px;
}
.img-300x320-div:hover {
    border: 1px silver solid;
    border-radius: 8px;
    padding: 10px;
}
.div-300x160 {
    display: flex;
}
.img-300x160-div {
    padding: 10px;
    width: 303px;
    height: 160px;
}
.img-300x160-div:hover {
    border: 1px silver solid;
    border-radius: 8px;
}
.img-150x160 {
    width: 150px;
    height: 160px;
    padding: 10px;
}
.img-150x160:hover {
    border: 1px silver solid;
    border-radius: 8px;
}
.layout-products-with-price-div {
    justify-content: space-between;
    display: flex;
    margin-top: 5%;
    width: 100%;
    height: 38.7vh;
    padding: 0% 2% 0% 2%;
    
    
 
}
.layout-products-with-price-div img {
    border-radius: 8px;
    
}


.banner-1-container {
    width: 632px;
    height: 256px;
    background: white;
    border-radius: 8px;
    
    display: flex;
    box-shadow: 0px 1px 2px 1px silver; 
}
.banner-1-title {
    padding: 25px;
    width: 50%;
    font-size: 23.43px;
    color: #353534;
    font-weight: 600;
}
.banner-1-title-description {
    margin-top: 5%;
    display: block;
    font-size: 14.63px;
    font-weight: 500;
    opacity: 0.8;
}
.banner-1-button {
    margin-top: 30%;
    width: 100px;
    height: 40px;
    padding: 9px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    background: #0082FF;
    color: white;
    font-size: 11.56px;
}

.banner-1-container-secondary {
    width: 300px;
    height: 256px;
    border-radius: 8px;
    box-shadow: 0px 1px 2px 1px silver;
  
}
.banner-1-secondary-part1 img {
    width: 300px;
    height: 128px;
}
.banner-1-secondary-part1-square img {
    width: 95px;
    height: 95px;
    position: absolute;
    transform: translateY(-50px);
    border-radius: 8px;
    margin-left: 10px;
    z-index: 2;
}
.banner-1-secondary-part2 img {
    border-radius: 8px;
    transform: translateY(-4px);
    z-index: 1;
    width: 300px;
    height: 128px;
    background: #d1eeff;
}
.banner-1-container-third img {
    width: 303px;
    height: 256px;
    border-radius: 8px;
    box-shadow: 0px 1px 2px 1px silver;
    background: #f9f871;
}
footer {
    width: 100%;
    background: #0b0b0b;
    height: 100vh;
    color: white;
    font-family: "Inter";
    font-size: 10px;
    text-align: left;
    padding: 7%;
    line-height: 1.4rem;
}
.footer-flex {
    display: flex;
}
.footer-div {
    display: inline-block;
    fill: white;
    margin-left: 5%;
}
.footer-div-2 {
    margin-left: 8%;
    margin-top: 92px;
}
.footer-div-4 {
    margin-left: 8%;
    margin-top: 92px;
}
.footer-column-4 {
    width: 100px;
    display: flex;
}
.footer-column-4 svg {
    width: 100px;
    display: flex;
}
.svg-footer {
    margin-bottom: 20px;
}
.footer-titles {
    font-weight: 800;
}
.footer-column-1 {
    width: 200px;
    border-top: 1px white solid;
    display: inline-block;
}
.footer-column-1 li {
    margin-top: 15px;
}
.menu,
.menumobile {
    display: none;
}
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background: #24252a;
    overflow-x: hidden;
    transition: width 1s ease 0s;
}
.overlay--active {
    width: 100%;
}
.overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: color 0.3s ease 0s;
}
.overlay a:hover,
.overlay a:focus {
    color: #0088a9;
}
.overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
}
@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px;
    }
    .overlay .close {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
@media only screen and (max-width: 768px) {
    .nav-items,
    .button-login,
    .submenu {
        display: none;
    }
    header {
        
        height: 48px;
        padding: 2vh;
    }
    .menumobile {
        display: initial;
        fill: white;
    }
    .search-div {
        margin-top: 80px;
        margin-right: 30px;
        position: absolute;
        width: 80vw;
    }
    .banner-div,
    .row-1 {
        justify-content: center;
        width: 100%;
        height: 100%;
        display: inline-block;
        background: #0082FF;
    }
    .banner-item,
    .column-1 {
        width: inherit;
        margin-top: 15px;
    }
    #div-mobile-download {
        justify-content: center;
    }
}
